<nav class="nav">
  <ul class="nav__list">
    @for (item of menuItems; track $index) {
    <li class="nav__item" [routerLink]="item.routerLink">
      <figure class="nav__figure">
        <i [class]="item.icon"></i>
      </figure>

      <article class="nav__show">
        <p class="nav__name">{{ item.label }}</p>
      </article>
    </li>
    }

    <li class="nav__item nav__item--down">
      <figure class="nav__figure">
        <i class="pi pi-home"></i>
      </figure>

      <article class="nav__show">
        <p class="nav__name">Configuración</p>
      </article>
    </li>

    <li class="nav__item nav__item--user">
      <figure class="nav__figure">
        <img
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="nav__img nav__img--avatar"
        />
      </figure>

      <article class="nav__show">
        <div class="nav__name nav__name--user">
          <h3 class="nav__username">Jordan Alexander</h3>
          <p class="nav__account">Cuenta Free</p>
        </div>
      </article>
    </li>
  </ul>
</nav>
